/* Author: Mauro Leoci */

@font-face {
    font-family: 'LFTEtica';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('./assets/font/LFTEticaBk.woff2') format('woff2'),
      url('./assets/font/LFTEticaBk.woff') format('woff'),
      url('./assets/font/LFTEticaBk.ttf') format('truetype'),
      url('./assets/font/LFTEticaBk.eot?#iefix')
        format('embedded-opentype');
  }
  
@font-face {
    font-family: 'LFTEtica';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./assets/font/LFTEticaSb.woff2')
        format('woff2'),
      url('./assets/font/LFTEticaSb.woff') format('woff'),
      url('./assets/font/LFTEticaSb.ttf') format('truetype'),
      url('./assets/font/LFTEticaSb.eot?#iefix')
        format('embedded-opentype');
  }
  

/* TODO: Comment and cleanup the code */

body {
    width: 50vw;
    min-width: 500px;
    margin: 0 auto;
    font-family: 'LFTEtica';
}

/* General */
a {
    color: #f9423a;
    text-decoration: none;
}

nav > ul {
    padding: 5px;
}

.annuncioButton, a, select, button {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.body a {
    display: table-cell;
    text-decoration: none;
    color: #717e8f;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.body a:hover, .real-footer-links a:hover {
    text-decoration: underline;
}


nav ul li:before {
    display: table-cell;
    color: #dfe3ed;
    content: "|";
    padding: 0 8px;
}

ul li:first-child:before {
    content: "";
}

li {
    display: inline-block;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #3c4858;
}

main {
    margin: 25px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #dfe3ed;
    border-top: 1px solid #dfe3ed;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label, .footer-links div > a, .real-footer-links li > a {
    color: var(--gray);
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 6px;
}

.title {
    line-height: 28px;
    font-size: 21px;
    color: #3c4858;
    margin-top: 8px;
    display: block;
}

.label--red {
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 18px;
    color: #f9423a;
}

/* Buttons and Boxes */
.boxCategory {
    min-height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 148px;
    padding: 32px 20px 20px;
    border-radius: 8px;
    text-align: center;
}

.boxCategory > img, .card {
    width: 80%;
    aspect-ratio: auto;
}

button.subitoButton {
    width: 64px;
}

.subitoButton {
    height: 45px;
    margin-bottom: 1px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9423a;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.sb-margin {
    margin: 12px 24px;
}


.annuncioButton {
    line-height: 16px;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    background: #feeceb;
    border: 1px solid #feeceb;
    color: #f9423a;
    fill: #f9423a;
    height: 40px;
    padding: 0 12px;
    gap: 6px;
    justify-content: space-around;
}

.annuncioButton:hover {
    border: 1px solid red;
}

/* Search Box */

.search-box {
    gap: 10px;
    padding: 20px;
    margin: 50px 0;
    border-radius: 4px;
}


.tuttosubito {
    background-image: url("./assets/img/pay.webp");
    width: 300px;
    height: 216px;
    background-color: #f7f8fb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 4px;
}

.tuttosubito1 {
    margin-right: 20px;
}

.tuttosubito2 {
    background-image: url("./assets/img/sell.webp");
}

.sellwidget {
    min-height: 150px;
    padding: 0 48px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./assets/img/001_DESKTOP_inserisciannuncio.jpg");
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #dfe3ed;
    overflow: hidden;
}

.sellwidget_div {
    margin: 0 0 0 235px;
    max-width: 390px;
    padding: 20px 0;
}

.appwidget_title {
    font-size: 18px;
    line-height: 25px;
}

.small-text {
    font-size: 14px;
    line-height: 21px;
}

.appwidget_images {
    margin-top: 20px;
}

.findmore {
    border-top: 1px solid #dfe3ed;
    padding: 32px 0 32px;
    border-bottom: 1px solid #dfe3ed;
}

.magazineWidget {
    border-radius: 4px;
    background-image: url("./assets/img/HP_BOX_earth_day_20220426.jpg");
    padding-top: 36.25%;
    width: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.ADWidget {
    border-radius: 4px;
    background-image: url(https://tpc.googlesyndication.com/simgad/13233756688557260586?);
    padding-top: 16.25%;
    padding-left: 25.25%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 0 8px 16px;
    flex: 1 1;
    margin: 0 12px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 232px;
}

.login {
    padding: 20px;
}


/* Textbox With Icons */
input, select {
    color: rgb(60, 72, 88, 0.6);
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    height: 45px;
}

.input-icon {
    color: rgb(60, 72, 88, 0.6);
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px;
    height: 45px;
}

input:focus {
    border: none;
}

.inputbox {
    border: 1px solid #dfe3ed;
    border-radius: 4px;
}

.inputbox:focus-within {
    outline: none;
    border: 1px solid #aeb9c6;
}

.discovery {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 24px;
}

.footer-links div a {
    margin-bottom: 4px;
    margin-top: 6px;
    color: var(--gray);
}


.card-affari {
    background-color: #fff;
    border-radius: 8px;
    padding: 0 8px 16px;
    flex: 1 1;
    margin: 20px 12px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 232px;

}

.safety1 {
    background-image: url("./assets/img/safety1.webp");
}

.safety2 {
    background-image: url("./assets/img/safety2.webp");
}

.safety3 {
    background-image: url("./assets/img/safety3.webp");
}


.real-footer-links {
    color: var(--gray);
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

li img {
    vertical-align: middle;
    margin-right: 5px;
}