/* Author: Mauro Leoci (xcibe95x) aka Cibe */
/* Flex, Bruttstrap Library v1.0 */
/* Since we are limited in using stuff such as Bootstrap
/* I decided to write BRUTTstrap for the job, so i can just import it
/* And have some out of the Box Style, i'm Going to Update it Project by Project
/* We Already Got BuTTons and Flex Commands in V1 Yay */

/* Reset CSS */
* {
    box-sizing: border-box; margin: 0; padding: 0;
}

/* Utility CSS */

.fx {
    display: flex;
    justify-content: space-between;
}

.fx-end {
    display: flex;
    align-items: flex-end;
}

.fx-grow {
    flex: 1 0;
    align-self: flex-end;
}

.fx-center {
    display: flex;
    align-items: center;
}

.fx-wrapEven {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bold, strong {
    font-weight: 600;
}

/* Background Colors */
.b-white{
    background: #fff;
}

.b-red{
    background: #f9423a;
}
.b-blue{
    background: #2650ff;
}
.b-yellow{
    background: #f2a700;
}
.b-purple{
    background: #9924ff;
}
.b-cyan{
    background: #07bb9c;
}

.btn {
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    margin-top: 28px;
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.65);
    border-radius: 4px;
    padding: 0;
}