@font-face {
    font-family: 'LFTEtica';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/font/LFTEticaBk.woff2') format('woff2'),
      url('/assets/font/LFTEticaBk.woff') format('woff'),
      url('/assets/font/LFTEticaBk.ttf') format('truetype'),
      url('/assets/font/LFTEticaBk.eot?#iefix')
        format('embedded-opentype');
  }
  
@font-face {
    font-family: 'LFTEtica';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/font/LFTEticaSb.woff2')
        format('woff2'),
      url('/assets/font/LFTEticaSb.woff') format('woff'),
      url('/assets/font/LFTEticaSb.ttf') format('truetype'),
      url('/assets/font/LFTEticaSb.eot?#iefix')
        format('embedded-opentype');
  }
  